{% extends 'base.html.twig' %}

{% block content %}

<h2>All Urls</h2>
<ul class="shorturl-list">
	<table class="table">
		<thead>
			<tr>
				<td>Token</td>
				<td>Link</td>
				<td>Operation</td>
			</tr>
		</thead>
		<tbody>
			{% for url in urls %}
			<tr>
				<td><span class="shorturltoken">{{url.id|shorturltoken}}</span></td>
				<td><a href="{{url.url}}" target="_blank">{{url.url}}</a></td>
				<td>{{url.createdOn|date}}</td>
				<td><a class="text-danger" href="{{url('admin_rm_shorturl', {'shorturlid': url.id})}}">Remove</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</ul>

{% endblock %}